/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.Container)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
container.login.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

