/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
window.login.neutralWindow {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-button[name=close] {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-button[name=close]:over {
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-button[name=close]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-button[name=close]:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-button[name=close]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getResizeAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-resize {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNeutralWindow(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getTitleAppearance(howto.components.ComponentState)
 */
window.login.neutralWindow > window-title {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

