/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.login {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/botao_entrar_disabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-big;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login:hover {
    background-image: url('res://imageset_login/material/botao_entrar_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login:over {
    background-image: url('res://imageset_login/material/botao_entrar_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login:pressed {
    background-image: url('res://imageset_login/material/botao_entrar_pressed');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Panel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
panel.login {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/caixa_termos_center');
    border-bottom-image: url('res://imageset_login/material/caixa_termos_bottom');
    border-bottom-left-image: url('res://imageset_login/material/caixa_termos_lower_left');
    border-bottom-right-image: url('res://imageset_login/material/caixa_termos_lower_right');
    border-left-image: url('res://imageset_login/material/caixa_termos_left');
    border-right-image: url('res://imageset_login/material/caixa_termos_right');
    border-style: compound;
    border-top-image: url('res://imageset_login/material/caixa_termos_top');
    border-top-left-image: url('res://imageset_login/material/caixa_termos_upper_left');
    border-top-right-image: url('res://imageset_login/material/caixa_termos_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
checkbox.login {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login > button {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/login_checkbox_off_right_normal');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login > button:over_selected {
    background-image: url('res://imageset_login/material/login_checkbox_on_right_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login > button:pressed {
    background-image: url('res://imageset_login/material/login_checkbox_on_right_normal');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login > button:selected {
    background-image: url('res://imageset_login/material/login_checkbox_on_right_normal');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login > label {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-small;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login > label:hover {
    color: rgb(0.00, 0.00, 0.00);
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login > label:over {
    color: rgb(0.00, 0.00, 0.00);
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
editbox.login {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/senha_center');
    border-bottom-image: url('res://imageset_login/material/senha_bottom');
    border-bottom-left-image: url('res://imageset_login/material/senha_lower_left');
    border-bottom-right-image: url('res://imageset_login/material/senha_lower_right');
    border-left-image: url('res://imageset_login/material/senha_left');
    border-right-image: url('res://imageset_login/material/senha_right');
    border-style: compound;
    border-top-image: url('res://imageset_login/material/senha_top');
    border-top-left-image: url('res://imageset_login/material/senha_upper_left');
    border-top-right-image: url('res://imageset_login/material/senha_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-small;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.EditBox.getSelectionAppearance()
 */
editbox.login > selection {
    background-color: rgb(0.80, 0.80, 0.80);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(0.00, 0.00, 0.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
progressbar.login {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/carregando_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_login/material/carregando_left');
    border-right-image: url('res://imageset_login/material/carregando_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.ProgressBar.getProgressAppearance()
 */
progressbar.login > progress {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/carregando_barra');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_login/material/carregando_barra');
    border-right-image: url('res://imageset_login/material/carregando_barra');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
progressbar.login:selected {
    background-image: url('res://imageset_login/material/carregando_barra');
    border-left-image: url('res://imageset_login/material/carregando_barra');
    border-right-image: url('res://imageset_login/material/carregando_barra');
}

