/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.login.loginExitButton {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/botao_fechar_disabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-big1;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.loginExitButton:hover {
    background-image: url('res://imageset_login/material/botao_fechar_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.loginExitButton:over {
    background-image: url('res://imageset_login/material/botao_fechar_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.loginExitButton:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.loginExitButton:pressed {
    background-image: url('res://imageset_login/material/botao_fechar_pressed');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLoginExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.loginExitButton:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

