/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.login.selectionButton {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-small;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.selectionButton:hover {
    color: rgb(0.00, 0.00, 0.00);
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.selectionButton:over {
    color: rgb(0.00, 0.00, 0.00);
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.selectionButton:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.selectionButton:pressed {
    color: rgb(0.00, 0.00, 0.00);
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.selectionButton:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
checkbox.login.selectionButton {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > button {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_login/material/caixa_botao_normal');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > button:hover {
    background-image: url('res://imageset_login/material/caixa_botao_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > button:over {
    background-image: url('res://imageset_login/material/caixa_botao_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > button:over_selected {
    background-image: url('res://imageset_login/material/caixa_botao_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > button:pressed {
    background-image: url('res://imageset_login/material/caixa_botao_pressed');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > label {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-small;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > label:hover {
    background-image: url('res://imageset_login/material/caixa_selecao_menu');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySelectionButtonAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.login.selectionButton > label:over {
    background-image: url('res://imageset_login/material/caixa_selecao_menu');
}

