/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyHideBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.login.buttonPartyHideBuff {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyHideBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.buttonPartyHideBuff:over {
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyHideBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.buttonPartyHideBuff:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyHideBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.buttonPartyHideBuff:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyHideBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.buttonPartyHideBuff:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

