/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
taikodomtablecomposite.login.objectView {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar {
    background-color: rgb(0.10, 0.10, 0.10);
    background-color-alpha: 0.10;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_down_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end]:hover {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end]:over {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_down_press');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=end]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_up_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start]:hover {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start]:over {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_up_press');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=start]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_spacer_enabled');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_enabled');
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-style: compound;
    border-top-image: url('res://imageset_core/material/scroll_handle_top_enabled');
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb]:hover {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb]:over {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb]:pressed {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_press');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_press');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_press');
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > scrollbar > button[name=thumb]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getBackgroundScrollAppearance()
 */
taikodomtablecomposite.login.objectView > scrollbar background {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyObjectViewAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getSeparatorAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.login.objectView > separator {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

