/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyEnterExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.login.enterExitButton {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyEnterExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.enterExitButton:over {
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyEnterExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.enterExitButton:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyEnterExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.enterExitButton:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_login
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyEnterExitButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.login.enterExitButton:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

