
textfield {
    key-press-sound: 'sfx_login_typing';
}

passwordfield {
    key-press-sound: 'sfx_login_typing';
}

.fieldlabel, [name=closeButton], [name=enterButton] {
    font-family: xirod;
}

[name=enterButton] {
    mouse-press-sound: none;
}

[name=options] {
    margin: 10px 30px 17px 30px;
}

[name=registerPanel] {
    width: 272px;
    height: 82px;
    margin-bottom: 30px;
    blur-behind: false;
}

[name=register] {
    font-weight: bold;
}

[name=registerPanel] textarea {
    margin: 8px;
    vertical-align: center;
}

[name=notes], [name=terms], [name=eula] {
    padding-left: 10px;
    padding-right: 10px;
}

[name=registerPanel] textarea, [name=forgot-label] {
    font-size: 9px;
}

[name=loginPanel] {
    margin-bottom: 30px;
    blur-behind: false;
}

[name=loginPanel] > panel {
    width: 272px;
    height: 176px;
    padding-left: 10px;
    padding-right: 10px;
}

[name=newsPanel] scrollable {
    width: 272px;
    min-height: 196px;
    blur-behind: false;
}

[name=scrollable] {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-footer, [name=footer-center] {
    height: 72px;
}

.border-header, .border-footer {
    width: 100%;
}

.border-header, [name=header-center] {
    height: 126px;
}

[name=footer-center], [name=header-center] {
    width: 498px;
}

.border-footer, .border-header, [name=footer-center], [name=header-center] {
    border-style: none;
    background-repeat: repeat-x;
    background-position: center;
}

.border-footer {
    background-image: url('res://data/gui/imageset/imageset_login_neo/footer_border');
}

[name=footer-center] {
    background-image: url('res://data/gui/imageset/imageset_login_neo/footer_center');
}

.border-header {
    background-image: url('res://data/gui/imageset/imageset_login_neo/header_border');
}

[name=header-center] {
    background-image: url('res://data/gui/imageset/imageset_login_neo/header_center');
}

[name=versionLabel] {
    margin: 3px;
}

[name=save-panel] {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top-image: url('res://data/gui/imageset/imageset_tabpane_neo/tab_line');
    border-bottom-image: url('res://data/gui/imageset/imageset_tabpane_neo/tab_line');
    border-top-image: url('res://data/gui/imageset/imageset_tabpane_neo/tab_line');
}

button.loginbutton {
    border-left-image: url('res://imageset_login_neo/material/button_extra_left_enabled');
    border-right-image: url('res://imageset_login_neo/material/button_extra_right_enabled');
    background-image: url('res://imageset_login_neo/material/button_extra_center_enabled');
    max-width: 105px;
    width: 105px;
    min-width: 105px;
}

button.link {
    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}

button.loginbutton:over {
    border-left-image: url('res://imageset_login_neo/material/button_extra_left_over');
    border-right-image: url('res://imageset_login_neo/material/button_extra_right_over');
    background-image: url('res://imageset_login_neo/material/button_extra_center_over');
}

button.loginbutton:pressed {
    border-left-image: url('res://imageset_login_neo/material/button_extra_left_press');
    border-right-image: url('res://imageset_login_neo/material/button_extra_right_press');
    background-image: url('res://imageset_login_neo/material/button_extra_center_press');
}
