window {
    width: 500px;
    height: 500px;
}

panel[name=hoplonline] {
    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    padding-top: 3px;
    margin-top: 3px;
}

panel[name=fields] {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 80px;
}

htmlpane {
    margin: -18px 2px 0px 2px;
}