window[name=messageDialog] {
    min-width: 200px;
    min-height: 100px;
}

window[name=messageDialog].Info {
    open-sound: 'sfx_event_message';
    close-sound: none;
}

window[name=messageDialog].Question {
    open-sound: 'sfx_event_message';
    close-sound: none;
}

window[name=messageDialog].Warning {
    open-sound: 'sfx_event_message';
    close-sound: none;
}

window[name=messageDialog].Error {
    open-sound: 'sfx_error_message';
    close-sound: none;
}