/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNPCDialogAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
label.core.nPCDialog {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_title_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/table_title_left');
    border-right-image: url('res://imageset_core/material/table_title_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

