/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyShowBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.core.buttonPartyShowBuff {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyShowBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.buttonPartyShowBuff:over {
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyShowBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.buttonPartyShowBuff:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyShowBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.buttonPartyShowBuff:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyButtonPartyShowBuff(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.buttonPartyShowBuff:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

