/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_center_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/button_left_enabled');
    border-right-image: url('res://imageset_core/material/button_right_enabled');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:disabled {
    background-image: url('res://imageset_core/material/button_center_disabled');
    border-left-image: url('res://imageset_core/material/button_left_disabled');
    border-right-image: url('res://imageset_core/material/button_right_disabled');
    color-alpha: 0.40;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:hover {
    background-image: url('res://imageset_core/material/button_center_over');
    border-left-image: url('res://imageset_core/material/button_left_over');
    border-right-image: url('res://imageset_core/material/button_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:over {
    background-image: url('res://imageset_core/material/button_center_over');
    border-left-image: url('res://imageset_core/material/button_left_over');
    border-right-image: url('res://imageset_core/material/button_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:over_selected {
    background-image: url('res://imageset_core/material/button_center_over');
    border-left-image: url('res://imageset_core/material/button_left_over');
    border-right-image: url('res://imageset_core/material/button_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:pressed {
    background-image: url('res://imageset_core/material/button_center_press');
    border-left-image: url('res://imageset_core/material/button_left_press');
    border-right-image: url('res://imageset_core/material/button_right_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core:selected {
    background-image: url('res://imageset_core/material/button_center_press');
    border-left-image: url('res://imageset_core/material/button_left_press');
    border-right-image: url('res://imageset_core/material/button_right_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
label.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_title_center');
    border-bottom-image: url('res://imageset_core/material/loadingbar_title_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_title_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_title_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_title_left');
    border-right-image: url('res://imageset_core/material/loadingbar_title_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/loadingbar_title_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_title_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_title_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
checkbox.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_radio_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button:hover {
    background-image: url('res://imageset_core/material/button_radio_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button:over {
    background-image: url('res://imageset_core/material/button_radio_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button:over_selected {
    background-image: url('res://imageset_core/material/button_radio_selected_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button:pressed {
    background-image: url('res://imageset_core/material/button_radio_selected_enabled');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getButtonAppearance(howto.components.ComponentState)
 */
checkbox.core > button:selected {
    background-image: url('res://imageset_core/material/button_radio_selected_enabled');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.CheckBox)
 * --- public howto.appearance.Appearance howto.components.CheckBox.getLabelAppearance(howto.components.ComponentState)
 */
checkbox.core > label {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
editbox.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/textbox_center_enabled');
    border-bottom-image: url('res://imageset_core/material/textbox_bottom_enabled');
    border-bottom-left-image: url('res://imageset_core/material/textbox_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_core/material/textbox_lower_right_enabled');
    border-left-image: url('res://imageset_core/material/textbox_left_enabled');
    border-right-image: url('res://imageset_core/material/textbox_right_enabled');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/textbox_top_enabled');
    border-top-left-image: url('res://imageset_core/material/textbox_upper_left_enabled');
    border-top-right-image: url('res://imageset_core/material/textbox_upper_right_enabled');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-small;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.EditBox.getSelectionAppearance()
 */
editbox.core > selection {
    background-color: rgb(0.80, 0.80, 0.80);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(0.00, 0.00, 0.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
editbox.core:disabled {
    background-image: url('res://imageset_core/material/textbox_center_disabled');
    border-bottom-image: url('res://imageset_core/material/textbox_bottom_disabled');
    border-bottom-left-image: url('res://imageset_core/material/textbox_lower_left_disabled');
    border-bottom-right-image: url('res://imageset_core/material/textbox_lower_right_disabled');
    border-left-image: url('res://imageset_core/material/textbox_left_disabled');
    border-right-image: url('res://imageset_core/material/textbox_right_disabled');
    border-top-image: url('res://imageset_core/material/textbox_top_disabled');
    border-top-left-image: url('res://imageset_core/material/textbox_upper_left_disabled');
    border-top-right-image: url('res://imageset_core/material/textbox_upper_right_disabled');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
editbox.core:focused {
    background-image: url('res://imageset_core/material/textbox_center_selected');
    border-bottom-image: url('res://imageset_core/material/textbox_bottom_selected');
    border-bottom-left-image: url('res://imageset_core/material/textbox_lower_left_selected');
    border-bottom-right-image: url('res://imageset_core/material/textbox_lower_right_selected');
    border-left-image: url('res://imageset_core/material/textbox_left_selected');
    border-right-image: url('res://imageset_core/material/textbox_right_selected');
    border-top-image: url('res://imageset_core/material/textbox_top_selected');
    border-top-left-image: url('res://imageset_core/material/textbox_upper_left_selected');
    border-top-right-image: url('res://imageset_core/material/textbox_upper_right_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.EditBox)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
editbox.core:read_only {
    background-image: url('res://imageset_core/material/textbox_center_disabled');
    border-bottom-image: url('res://imageset_core/material/loadingbar_info_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_info_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_info_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_info_left');
    border-right-image: url('res://imageset_core/material/loadingbar_info_right');
    border-top-image: url('res://imageset_core/material/loadingbar_info_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_info_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_info_upper_right');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
progressbar.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_normal_frame_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/loadingbar_normal_frame_left');
    border-right-image: url('res://imageset_core/material/loadingbar_normal_frame_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.ProgressBar.getProgressAppearance()
 */
progressbar.core > progress {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_normal_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/loadingbar_normal_left');
    border-right-image: url('res://imageset_core/material/loadingbar_normal_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
progressbar.core:selected {
    background-image: url('res://imageset_core/material/loadingbar_normal_center');
    border-left-image: url('res://imageset_core/material/loadingbar_normal_left');
    border-right-image: url('res://imageset_core/material/loadingbar_normal_right');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
scrollbar.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_down_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end]:hover {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end]:over {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_down_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=end]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_up_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start]:hover {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start]:over {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_up_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=start]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_spacer_enabled');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_enabled');
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-style: compound;
    border-top-image: url('res://imageset_core/material/scroll_handle_top_enabled');
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb]:hover {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb]:over {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb]:pressed {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_press');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_press');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core > button[name=thumb]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_tab_center_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/button_tab_left_enabled');
    border-right-image: url('res://imageset_core/material/button_tab_right_enabled');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core:hover {
    background-image: url('res://imageset_core/material/button_tab_center_over');
    border-left-image: url('res://imageset_core/material/button_tab_left_over');
    border-right-image: url('res://imageset_core/material/button_tab_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core:over {
    background-image: url('res://imageset_core/material/button_tab_center_over');
    border-left-image: url('res://imageset_core/material/button_tab_left_over');
    border-right-image: url('res://imageset_core/material/button_tab_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core:over_selected {
    background-image: url('res://imageset_core/material/button_tab_center_selected');
    border-left-image: url('res://imageset_core/material/button_tab_left_selected');
    border-right-image: url('res://imageset_core/material/button_tab_right_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core:pressed {
    background-image: url('res://imageset_core/material/button_tab_center_press');
    border-left-image: url('res://imageset_core/material/button_tab_left_press');
    border-right-image: url('res://imageset_core/material/button_tab_right_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core:selected {
    background-image: url('res://imageset_core/material/button_tab_center_selected');
    border-left-image: url('res://imageset_core/material/button_tab_left_selected');
    border-right-image: url('res://imageset_core/material/button_tab_right_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
table.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_auxiliary_frame_center');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getBackgroundAppearance(howto.components.ComponentState)
 */
table.core > table-background {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_auxiliary_frame_center');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getBodyAppearance()
 */
table.core > table-body {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getHeaderAppearance()
 */
table.core > table-header {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_title_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/table_title_left');
    border-right-image: url('res://imageset_core/material/table_title_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabPane)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
tabpane.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.tabbedpane.TabPane)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabPane.getItemAppearance(howto.components.ComponentState)
 */
tabpane.core > tabitem {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
window.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_frame_center');
    border-bottom-image: url('res://imageset_core/material/window_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/window_frame_lower_left');
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/window_frame_left');
    border-right-image: url('res://imageset_core/material/window_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/window_frame_top');
    border-top-left-image: url('res://imageset_core/material/window_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/window_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_close_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close]:hover {
    background-image: url('res://imageset_core/material/button_close_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close]:over {
    background-image: url('res://imageset_core/material/button_close_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close]:pressed {
    background-image: url('res://imageset_core/material/button_close_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core > window-button[name=close]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getResizeAppearance(howto.components.ComponentState)
 */
window.core > window-resize {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_frame_lower_right');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getTitleAppearance(howto.components.ComponentState)
 */
window.core > window-title {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-small;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
scrollablepanel.core {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_frame_center');
    border-bottom-image: url('res://imageset_core/material/table_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/table_frame_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/table_frame_lower_right');
    border-left-image: url('res://imageset_core/material/table_frame_left');
    border-right-image: url('res://imageset_core/material/table_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/table_frame_top');
    border-top-left-image: url('res://imageset_core/material/table_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/table_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core > scrollbar > button[name=end] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core > scrollbar > button[name=start] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core > scrollbar > button[name=thumb] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

