/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
window.core.containerAuxiliary {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_auxiliary_frame_center');
    border-bottom-image: url('res://imageset_core/material/window_auxiliary_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/window_auxiliary_frame_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/window_auxiliary_frame_lower_right');
    border-left-image: url('res://imageset_core/material/window_auxiliary_frame_left');
    border-right-image: url('res://imageset_core/material/window_auxiliary_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/window_auxiliary_frame_top');
    border-top-left-image: url('res://imageset_core/material/window_auxiliary_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/window_auxiliary_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-button[name=close] {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-button[name=close]:over {
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-button[name=close]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-button[name=close]:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-button[name=close]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getResizeAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-resize {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerAuxiliaryAppearance(howto.components.Window)
 * --- public howto.appearance.Appearance howto.components.Window.getTitleAppearance(howto.components.ComponentState)
 */
window.core.containerAuxiliary > window-title {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-small;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

