/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.Container)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
container.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
scrollbar.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_frame_center');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=end] {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=end]:over {
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=end]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=end]:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getEndButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=end]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=start] {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=start]:over {
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=start]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=start]:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getStartButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=start]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=thumb] {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=thumb]:over {
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=thumb]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=thumb]:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollBar)
 * --- public howto.appearance.Appearance howto.components.ScrollBar.getThumbButtonAppearance(howto.components.ComponentState)
 */
scrollbar.core.chat > button[name=thumb]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_tab_center_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/button_tab_left_enabled');
    border-right-image: url('res://imageset_core/material/button_tab_right_enabled');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat:hover {
    background-image: url('res://imageset_core/material/button_tab_center_over');
    border-left-image: url('res://imageset_core/material/button_tab_left_over');
    border-right-image: url('res://imageset_core/material/button_tab_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat:over {
    background-image: url('res://imageset_core/material/button_tab_center_over');
    border-left-image: url('res://imageset_core/material/button_tab_left_over');
    border-right-image: url('res://imageset_core/material/button_tab_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat:over_selected {
    background-image: url('res://imageset_core/material/button_tab_center_selected');
    border-left-image: url('res://imageset_core/material/button_tab_left_selected');
    border-right-image: url('res://imageset_core/material/button_tab_right_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat:pressed {
    background-image: url('res://imageset_core/material/button_tab_center_press');
    border-left-image: url('res://imageset_core/material/button_tab_left_press');
    border-right-image: url('res://imageset_core/material/button_tab_right_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabItem)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabItem.getAppearance(howto.components.ComponentState)
 */
tabitem.core.chat:selected {
    background-image: url('res://imageset_core/material/button_tab_center_selected');
    border-left-image: url('res://imageset_core/material/button_tab_left_selected');
    border-right-image: url('res://imageset_core/material/button_tab_right_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabPane)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
tabpane.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.tabbedpane.TabPane)
 * --- public howto.appearance.Appearance howto.tabbedpane.TabPane.getItemAppearance(howto.components.ComponentState)
 */
tabpane.core.chat > tabitem {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
scrollablepanel.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/chat_window_center');
    border-bottom-image: url('res://imageset_core/material/chat_window_bottom');
    border-bottom-left-image: url('res://imageset_core/material/chat_window_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/chat_window_lower_right');
    border-left-image: url('res://imageset_core/material/chat_window_left');
    border-right-image: url('res://imageset_core/material/chat_window_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/chat_window_top');
    border-top-left-image: url('res://imageset_core/material/chat_window_upper_left');
    border-top-right-image: url('res://imageset_core/material/chat_window_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core.chat > scrollbar > button[name=end] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core.chat > scrollbar > button[name=start] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(howto.components.ScrollablePanel)
 * --- public howto.appearance.Appearance howto.components.ScrollablePanel.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
scrollablepanel.core.chat > scrollbar > button[name=thumb] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
taikodomtablecomposite.core.chat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-bottom-image: url('res://imageset_core/material/chat_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/chat_frame_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/chat_frame_lower_right');
    border-left-image: url('res://imageset_core/material/chat_frame_left');
    border-right-image: url('res://imageset_core/material/chat_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/chat_frame_top');
    border-top-left-image: url('res://imageset_core/material/chat_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/chat_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_background');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_down_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end]:hover {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end]:over {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_down_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarEndButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=end]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_button_up_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start]:hover {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start]:over {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_up_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarStartButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=start]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/scroll_handle_spacer_enabled');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_enabled');
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-style: compound;
    border-top-image: url('res://imageset_core/material/scroll_handle_top_enabled');
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb]:hover {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb]:over {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_over');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_over');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb]:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb]:pressed {
    background-image: url('res://imageset_core/material/scroll_handle_spacer_press');
    border-bottom-image: url('res://imageset_core/material/scroll_handle_bottom_press');
    border-top-image: url('res://imageset_core/material/scroll_handle_top_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getScrollBarThumbButtonAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > scrollbar > button[name=thumb]:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getBackgroundScrollAppearance()
 */
taikodomtablecomposite.core.chat > scrollbar background {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_frame_center');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatAppearance(tkd.client.game.gui.components.TaikodomTableComposite)
 * --- public howto.appearance.Appearance tkd.client.game.gui.components.TaikodomTableComposite.getSeparatorAppearance(howto.components.ComponentState)
 */
taikodomtablecomposite.core.chat > separator {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

