/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyBorderToMenuButtonPanel(howto.components.Panel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
panel.core.borderToMenuButtonPanel {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-bottom-image: none;
    border-bottom-left-image: url('res://imageset_core/material/menu_main_border_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/menu_main_border_lower_right');
    border-left-image: url('res://imageset_core/material/menu_main_border_left');
    border-right-image: url('res://imageset_core/material/menu_main_border_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

