/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySlotBorderToComponentSelected(howto.components.Component)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
component.core.slotBorderToComponentSelected {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-bottom-image: url('res://imageset_core/material/table_cell_frame_bottom_selected');
    border-bottom-left-image: url('res://imageset_core/material/table_cell_frame_lower_left_selected');
    border-bottom-right-image: url('res://imageset_core/material/table_cell_frame_lower_right_selected');
    border-left-image: url('res://imageset_core/material/table_cell_frame_left_selected');
    border-right-image: url('res://imageset_core/material/table_cell_frame_right_selected');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/table_cell_frame_top_selected');
    border-top-left-image: url('res://imageset_core/material/table_cell_frame_upper_left_selected');
    border-top-right-image: url('res://imageset_core/material/table_cell_frame_upper_right_selected');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

