/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTooltipAuxiliaryAppearance(howto.components.Panel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
panel.core.tooltipAuxiliary {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/tooltip_frame_auxiliary_center');
    border-bottom-image: url('res://imageset_core/material/tooltip_frame_auxiliary_bottom');
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-style: compound;
    border-top-image: url('res://imageset_core/material/tooltip_frame_auxiliary_top');
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

