/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.core.launchButton {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_launch_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-small;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.launchButton:hover {
    background-image: url('res://imageset_core/material/button_launch_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.launchButton:over {
    background-image: url('res://imageset_core/material/button_launch_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.launchButton:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.launchButton:pressed {
    background-image: url('res://imageset_core/material/button_launch_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyLaunchButton(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.launchButton:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

