/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContextMenuItemAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
label.core.contextMenuItem {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: left;
    vertical-alignment: super;
}

