/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerProgressBarAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
progressbar.core.containerProgressBar {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_normal_frame_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/loadingbar_normal_frame_left');
    border-right-image: url('res://imageset_core/material/loadingbar_normal_frame_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerProgressBarAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.ProgressBar.getProgressAppearance()
 */
progressbar.core.containerProgressBar > progress {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_container_center');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/loadingbar_container_left');
    border-right-image: url('res://imageset_core/material/loadingbar_container_right');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyContainerProgressBarAppearance(howto.components.ProgressBar)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
progressbar.core.containerProgressBar:selected {
    background-image: url('res://imageset_core/material/loadingbar_container_center');
    border-left-image: url('res://imageset_core/material/loadingbar_container_left');
    border-right-image: url('res://imageset_core/material/loadingbar_container_right');
}

