/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTooltipAppearance(howto.components.Panel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
panel.core.tooltip {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/tooltip_frame_center');
    border-bottom-image: url('res://imageset_core/material/tooltip_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/tooltip_frame_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/tooltip_frame_lower_right');
    border-left-image: url('res://imageset_core/material/tooltip_frame_left');
    border-right-image: url('res://imageset_core/material/tooltip_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/tooltip_frame_top');
    border-top-left-image: url('res://imageset_core/material/tooltip_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/tooltip_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

