/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyBorderToComponent(howto.components.Component)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
component.core.borderToComponent {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_label_center');
    border-bottom-image: url('res://imageset_core/material/window_label_bottom');
    border-bottom-left-image: url('res://imageset_core/material/window_label_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/window_label_lower_right');
    border-left-image: url('res://imageset_core/material/window_label_left');
    border-right-image: url('res://imageset_core/material/window_label_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/window_label_top');
    border-top-left-image: url('res://imageset_core/material/window_label_upper_left');
    border-top-right-image: url('res://imageset_core/material/window_label_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

