/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatCenterAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
table.core.chatCenter {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/chat_window_center');
    border-bottom-image: url('res://imageset_core/material/chat_window_bottom');
    border-bottom-left-image: url('res://imageset_core/material/chat_window_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/chat_window_lower_right');
    border-left-image: url('res://imageset_core/material/chat_window_left');
    border-right-image: url('res://imageset_core/material/chat_window_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/chat_window_top');
    border-top-left-image: url('res://imageset_core/material/chat_window_upper_left');
    border-top-right-image: url('res://imageset_core/material/chat_window_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatCenterAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getBackgroundAppearance(howto.components.ComponentState)
 */
table.core.chatCenter > table-background {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/chat_window_center');
    border-bottom-image: url('res://imageset_core/material/chat_window_bottom');
    border-bottom-left-image: url('res://imageset_core/material/chat_window_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/chat_window_lower_right');
    border-left-image: url('res://imageset_core/material/chat_window_left');
    border-right-image: url('res://imageset_core/material/chat_window_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/chat_window_top');
    border-top-left-image: url('res://imageset_core/material/chat_window_upper_left');
    border-top-right-image: url('res://imageset_core/material/chat_window_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatCenterAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getBodyAppearance()
 */
table.core.chatCenter > table-body {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyChatCenterAppearance(howto.table.Table)
 * --- public howto.appearance.Appearance howto.table.Table.getHeaderAppearance()
 */
table.core.chatCenter > table-header {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

