/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyGreenBorderToComponent(howto.components.Container)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
container.core.greenBorderToComponent {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_label_green_center');
    border-bottom-image: url('res://imageset_core/material/window_label_green_bottom');
    border-bottom-left-image: url('res://imageset_core/material/window_label_green_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/window_label_green_lower_right');
    border-left-image: url('res://imageset_core/material/window_label_green_left');
    border-right-image: url('res://imageset_core/material/window_label_green_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/window_label_green_top');
    border-top-left-image: url('res://imageset_core/material/window_label_green_upper_left');
    border-top-right-image: url('res://imageset_core/material/window_label_green_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

