/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTradeConfirmedButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.core.tradeConfirmedButton {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_info_center');
    border-bottom-image: url('res://imageset_core/material/loadingbar_info_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_info_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_info_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_info_left');
    border-right-image: url('res://imageset_core/material/loadingbar_info_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/loadingbar_info_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_info_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_info_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    text-align: center;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTradeConfirmedButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.tradeConfirmedButton:over {
    background-color: rgb(0.00, 0.00, 1.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTradeConfirmedButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.tradeConfirmedButton:over_selected {
    background-image: url('res://imageset_core/material/loadingbar_info_green_center');
    border-bottom-image: url('res://imageset_core/material/loadingbar_info_green_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_info_green_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_info_green_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_info_green_left');
    border-right-image: url('res://imageset_core/material/loadingbar_info_green_right');
    border-top-image: url('res://imageset_core/material/loadingbar_info_green_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_info_green_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_info_green_upper_right');
    color-alpha: 0.00;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTradeConfirmedButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.tradeConfirmedButton:pressed {
    background-color: rgb(1.00, 0.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyTradeConfirmedButtonAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.tradeConfirmedButton:selected {
    background-image: url('res://imageset_core/material/loadingbar_info_green_center');
    border-bottom-image: url('res://imageset_core/material/loadingbar_info_green_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_info_green_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_info_green_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_info_green_left');
    border-right-image: url('res://imageset_core/material/loadingbar_info_green_right');
    border-top-image: url('res://imageset_core/material/loadingbar_info_green_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_info_green_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_info_green_upper_right');
    color-alpha: 0.00;
}

