/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyAgentsSouthPanelAppearance(howto.components.Panel)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
panel.core.agentsSouthPanel {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_placeholder');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

