/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNPCChatAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
label.core.nPCChat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_cell_frame_center_enabled');
    border-bottom-image: url('res://imageset_core/material/table_cell_frame_bottom_enabled');
    border-bottom-left-image: url('res://imageset_core/material/table_cell_frame_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_core/material/table_cell_frame_lower_right_enabled');
    border-left-image: url('res://imageset_core/material/table_cell_frame_left_enabled');
    border-right-image: url('res://imageset_core/material/table_cell_frame_right_enabled');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/table_cell_frame_top_enabled');
    border-top-left-image: url('res://imageset_core/material/table_cell_frame_upper_left_enabled');
    border-top-right-image: url('res://imageset_core/material/table_cell_frame_upper_right_enabled');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNPCChatAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
label.core.nPCChat:hover {
    background-image: url('res://imageset_core/material/table_cell_frame_center_over');
    border-bottom-image: url('res://imageset_core/material/table_cell_frame_bottom_over');
    border-bottom-left-image: url('res://imageset_core/material/table_cell_frame_lower_left_over');
    border-bottom-right-image: url('res://imageset_core/material/table_cell_frame_lower_right_over');
    border-left-image: url('res://imageset_core/material/table_cell_frame_left_over');
    border-right-image: url('res://imageset_core/material/table_cell_frame_right_over');
    border-top-image: url('res://imageset_core/material/table_cell_frame_top_over');
    border-top-left-image: url('res://imageset_core/material/table_cell_frame_upper_left_over');
    border-top-right-image: url('res://imageset_core/material/table_cell_frame_upper_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyNPCChatAppearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
label.core.nPCChat:over {
    background-image: url('res://imageset_core/material/table_cell_frame_center_over');
    border-bottom-image: url('res://imageset_core/material/table_cell_frame_bottom_over');
    border-bottom-left-image: url('res://imageset_core/material/table_cell_frame_lower_left_over');
    border-bottom-right-image: url('res://imageset_core/material/table_cell_frame_lower_right_over');
    border-left-image: url('res://imageset_core/material/table_cell_frame_left_over');
    border-right-image: url('res://imageset_core/material/table_cell_frame_right_over');
    border-top-image: url('res://imageset_core/material/table_cell_frame_top_over');
    border-top-left-image: url('res://imageset_core/material/table_cell_frame_upper_left_over');
    border-top-right-image: url('res://imageset_core/material/table_cell_frame_upper_right_over');
}

