/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
messagedialog.core.messageDialog {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/window_auxiliary_frame_center');
    border-bottom-image: url('res://imageset_core/material/window_auxiliary_frame_bottom');
    border-bottom-left-image: url('res://imageset_core/material/window_auxiliary_frame_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/window_auxiliary_frame_lower_right');
    border-left-image: url('res://imageset_core/material/window_auxiliary_frame_left');
    border-right-image: url('res://imageset_core/material/window_auxiliary_frame_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/window_auxiliary_frame_top');
    border-top-left-image: url('res://imageset_core/material/window_auxiliary_frame_upper_left');
    border-top-right-image: url('res://imageset_core/material/window_auxiliary_frame_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_center_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: url('res://imageset_core/material/button_left_enabled');
    border-right-image: url('res://imageset_core/material/button_right_enabled');
    border-style: compound;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button:hover {
    background-image: url('res://imageset_core/material/button_center_over');
    border-left-image: url('res://imageset_core/material/button_left_over');
    border-right-image: url('res://imageset_core/material/button_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button:over {
    background-image: url('res://imageset_core/material/button_center_over');
    border-left-image: url('res://imageset_core/material/button_left_over');
    border-right-image: url('res://imageset_core/material/button_right_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button:over_selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button:pressed {
    background-image: url('res://imageset_core/material/button_center_press');
    border-left-image: url('res://imageset_core/material/button_left_press');
    border-right-image: url('res://imageset_core/material/button_right_press');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > button:selected {
    background-color: rgb(0.00, 1.00, 0.00);
    background-color-alpha: 1.00;
    background-image: none;
    border-style: none;
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getMessageAppearance()
 */
messagedialog.core.messageDialog > label {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.MessageDialog.getButtonsPanelAppearance()
 */
messagedialog.core.messageDialog > panel[name=buttonsPanel] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.Window.getCloseButtonAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > window-button[name=close] {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyMessageDialogAppearance(howto.components.MessageDialog)
 * --- public howto.appearance.Appearance howto.components.Window.getTitleAppearance(howto.components.ComponentState)
 */
messagedialog.core.messageDialog > window-title {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: none;
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: xirod-small;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

