/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyCaptionLabel2Appearance(howto.components.Label)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
label.core.captionLabel2 {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/loadingbar_info_center');
    border-bottom-image: url('res://imageset_core/material/loadingbar_info_bottom');
    border-bottom-left-image: url('res://imageset_core/material/loadingbar_info_lower_left');
    border-bottom-right-image: url('res://imageset_core/material/loadingbar_info_lower_right');
    border-left-image: url('res://imageset_core/material/loadingbar_info_left');
    border-right-image: url('res://imageset_core/material/loadingbar_info_right');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/loadingbar_info_top');
    border-top-left-image: url('res://imageset_core/material/loadingbar_info_upper_left');
    border-top-right-image: url('res://imageset_core/material/loadingbar_info_upper_right');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-medium;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-alignment: super;
}

