/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
button.core.partyButtonOfChat {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_enabled');
    border-style: none;
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 1.00;
    font-family: square-mini-small;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-alignment: middle;
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:disabled {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_disabled');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:hover {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:over {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_over');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:over_selected {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:pressed {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_selected');
}

/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applyPartyButtonOfChatAppearance(howto.components.Button)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance(howto.components.ComponentState)
 */
button.core.partyButtonOfChat:selected {
    background-image: url('res://imageset_core/material/button_chat_channel_squadron_selected');
}

