/* imageset_core
 * --- public void com.hoplon.taikodom.gui.appearance.AppearanceManager.applySlotBorderToComponent(howto.components.Component)
 * --- public howto.appearance.Appearance howto.components.Component.getAppearance()
 */
component.core.slotBorderToComponent {
    background-color: rgb(1.00, 1.00, 1.00);
    background-color-alpha: 0.00;
    background-image: url('res://imageset_core/material/table_cell_frame_center_enabled');
    border-bottom-image: url('res://imageset_core/material/table_cell_frame_bottom_enabled');
    border-bottom-left-image: url('res://imageset_core/material/table_cell_frame_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_core/material/table_cell_frame_lower_right_enabled');
    border-left-image: url('res://imageset_core/material/table_cell_frame_left_enabled');
    border-right-image: url('res://imageset_core/material/table_cell_frame_right_enabled');
    border-style: compound;
    border-top-image: url('res://imageset_core/material/table_cell_frame_top_enabled');
    border-top-left-image: url('res://imageset_core/material/table_cell_frame_upper_left_enabled');
    border-top-right-image: url('res://imageset_core/material/table_cell_frame_upper_right_enabled');
    color: rgb(1.00, 1.00, 1.00);
    color-alpha: 0.00;
    text-align: left;
    vertical-alignment: super;
}

