/*
- Самые простые компоненты выше. Исключения ниже. *
- НЕ форматировать этот файл!
*/

* {
    color: white;
    color-alpha: 1;
    font-family: tahoma;
    font-size: 11px;
    font-alias: true;
    font-style: normal;
    font-weight: normal;
    border-style: compound;
}

*:disabled {
    color-alpha: 0.5;
    background-color-alpha: 0.5;
    color-multiplier: rgb(127, 127, 127, 127);
}

textfield, textarea, editor {
    cursor: text-cursor;
}


/* ************************************************************ *
 * ========================== !LABEL! ========================= *
 * ************************************************************ */

label {
    vertical-align: middle;
    text-align: left;
}

label.info,
textarea[multiline=true][editable=false][selectable=false] {
    border-bottom-image: url('res://imageset_textarea_neo/material/label_bottom');
    border-bottom-left-image: url('res://imageset_textarea_neo/material/label_lower_left');
    border-bottom-right-image: url('res://imageset_textarea_neo/material/label_lower_right');
    border-top-image: url('res://imageset_textarea_neo/material/label_top');
    border-top-left-image: url('res://imageset_textarea_neo/material/label_upper_left');
    border-top-right-image: url('res://imageset_textarea_neo/material/label_upper_right');
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_textarea_neo/material/label_center');
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: -2px;
    cursor: url('res://data/gui/imageset/imageset_core/mouse_enabled');
}

scrollable textarea[multiline=true][editable=false][selectable=false] {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
}

panel.fields > label,
.fieldlabel {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_textfield_neo/material/label_singleline_left');
    border-right-image: url('res://imageset_textfield_neo/material/label_singleline_right');
    background-image: url('res://imageset_textfield_neo/material/label_singleline_center');
    max-height: 30px;
}

label.title,
textarea.title {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    font-family: xirod;
    font-size: 10px;
    text-align: center;
    margin: 4px 0px 4px 0px;
}


/* ************************************************************ *
 * ========================= !PICTURE! ======================== *
 * ************************************************************ */

picture.hoplon,
picture[name=hoplon] {
    background-image: url('res://imageset_textfield_neo/material/textfield_icon_holder');
    icon: url('res://imageset_iconography/material/icon_hoplon_small');
}

picture.shoplon {
    icon: url('res://imageset_iconography/material/icon_hoplon_small');
}

picture.shield,
picture[name=shield] {
    icon: url('res://imageset_core/material/loadingbar_normal_shield_title');
}

picture.hull,
picture[name=hull] {
    icon: url('res://imageset_core/material/loadingbar_normal_hull_title');
}

picture.cargo,
picture[name=cargo] {
    icon: url('res://imageset_core/material/loadingbar_normal_container_title');
}

picture.loading,
picture[name=loading] {
    icon: url('res://imageset_login/material/loading_icon');
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}


/* ********************************************************* *
 * =============== !BUTTON!, !TOGGLE-BUTTON! =============== *
 * ********************************************************* */

button,
toggle-button {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: url('res://imageset_button_neo/material/tab_center_enabled');
    border-left-image: url('res://imageset_button_neo/material/tab_left_enabled');
    border-right-image: url('res://imageset_button_neo/material/tab_right_enabled');

    mouse-over-sound: 'sfx_mouse_over';
    mouse-click-sound: 'sfx_mouse_click';
}

button:disabled,
toggle-button:disabled {
    mouse-over-sound: none;
    mouse-click-sound: none;
}

button:over,
toggle-button:over {
    background-image: url('res://imageset_button_neo/material/tab_center_over');
    border-left-image: url('res://imageset_button_neo/material/tab_left_over');
    border-right-image: url('res://imageset_button_neo/material/tab_right_over');
}

button:pressed,
toggle-button:pressed {
    background-image: url('res://imageset_button_neo/material/tab_center_press');
    border-left-image: url('res://imageset_button_neo/material/tab_left_press');
    border-right-image: url('res://imageset_button_neo/material/tab_right_press');
}

button:selected,
toggle-button:selected {
    background-image: url('res://imageset_button_neo/material/tab_center_selected');
    border-left-image: url('res://imageset_button_neo/material/tab_left_selected');
    border-right-image: url('res://imageset_button_neo/material/tab_right_selected');
}

button.window-button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_button_neo/material/button_left_enabled');
    border-right-image: url('res://imageset_button_neo/material/button_right_enabled');
    background-image: url('res://imageset_button_neo/material/button_center_enabled');
}

button.window-button:over {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_button_neo/material/button_left_over');
    border-right-image: url('res://imageset_button_neo/material/button_right_over');
    background-image: url('res://imageset_button_neo/material/button_center_over');
}

button.window-button:pressed {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_button_neo/material/button_left_press');
    border-right-image: url('res://imageset_button_neo/material/button_right_press');
    background-image: url('res://imageset_button_neo/material/button_center_press');
}


.link {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    color: rgb(169, 86, 2);
    font-size: 9px;
}

.link:over {
    color: rgb(234, 150, 0);
}


/* ************************************************************ *
 * ======================== !CHECKBOX! ======================== *
 * ************************************************************ */

checkbox {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    icon: url('res://imageset_checkbox_neo/material/checkbox_enabled');

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';

}

checkbox:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_selected');
}

checkbox:over {
    icon: url('res://imageset_checkbox_neo/material/checkbox_over');
}

checkbox:over:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_over_selected');
}

checkbox:pressed {
    icon: url('res://imageset_checkbox_neo/material/checkbox_press');
}

checkbox:pressed:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_press');
}


/* ************************************************************ *
 * ========================= !TOOLTIP! ======================== *
 * ************************************************************ */

tooltip, popupmenu {
    border-bottom-image: url('res://imageset_tooltip_neo/material/tooltip_bottom');
    border-bottom-left-image: url('res://imageset_tooltip_neo/material/tooltip_lower_left');
    border-bottom-right-image: url('res://imageset_tooltip_neo/material/tooltip_lower_right');
    border-top-image: url('res://imageset_tooltip_neo/material/tooltip_top');
    border-top-left-image: url('res://imageset_tooltip_neo/material/tooltip_upper_left');
    border-top-right-image: url('res://imageset_tooltip_neo/material/tooltip_upper_right');
    border-left-image: url('res://imageset_tooltip_neo/material/tooltip_left');
    border-right-image: url('res://imageset_tooltip_neo/material/tooltip_right');
    background-image: url('res://imageset_tooltip_neo/material/tooltip_center');

    mouse-over-sound: none;
    mouse-click-sound: none;
}


/* ************************************************************ *
 * ======================= !RADIOBUTTON! ====================== *
 * ************************************************************ */

radiobutton {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    icon: url('res://imageset_checkbox_neo/material/checkbox_enabled');

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';

}

radiobutton:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_selected');
}

radiobutton:over {
    icon: url('res://imageset_checkbox_neo/material/checkbox_over');
}

radiobutton:over:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_over_selected');
}

radiobutton:pressed {
    icon: url('res://imageset_checkbox_neo/material/checkbox_press');
}

radiobutton:pressed:selected {
    icon: url('res://imageset_checkbox_neo/material/checkbox_press');
}


/* ************************************************************ *
 * ======================== !TEXTFIELD! ======================= *
 * ************************************************************ */

textfield {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_enabled');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_enabled');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_enabled');
    min-height: 30px;

    mouse-over-sound: none;
    mouse-click-sound: none;
}

textfield:over {
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_over');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_over');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_over');
}

textfield:focused {
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_selected');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_selected');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_selected');
}

textfield:over:focused {
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_over_selected');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_over_selected');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_over_selected');
}


/* ************************************************************ *
 * ========================= !EDITOR! ========================= *
 * ************************************************************ */

editor {
    font-size: 9px;

    mouse-over-sound: none;
    mouse-click-sound: none;
}


/* ************************************************************ *
 * =================== !MENU!, !POPUP MENU! =================== *
 * ************************************************************ */

menu {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;

    mouse-over-sound: none;
    mouse-click-sound: none;

}

/*
popupmenu {
	blur-behind: true;
	border-style: compound;
	border-bottom-image: url('res://imageset_new_window/material/title_borders');
	border-bottom-left-image: url('res://imageset_new_window/material/title_borders');
	border-bottom-right-image: url('res://imageset_new_window/material/title_borders');
	border-top-image: url('res://imageset_new_window/material/title_borders');
	border-top-left-image: url('res://imageset_new_window/material/title_borders');
	border-top-right-image: url('res://imageset_new_window/material/title_borders');
	border-left-image: url('res://imageset_new_window/material/title_borders');
	border-right-image: url('res://imageset_new_window/material/title_borders');
	background-image: url('res://imageset_new_window/material/title_center');
}
*/
menuitem {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;

    mouse-over-sound: none;
    mouse-click-sound: none;

}

menuitem:armed {
    border-color-multiplier: rgb(128, 180, 255, 255);
    background-image: url('res://imageset_new_window/material/border_center');
}

menuitem:selected {
    border-color-multiplier: rgb(128, 180, 255, 255);
    background-image: url('res://imageset_new_window/material/border_center');
}

menu:armed {
    border-color-multiplier: rgb(128, 180, 255, 255);
    background-image: url('res://imageset_new_window/material/border_center');
}

menu:selected {
    border-color-multiplier: rgb(128, 180, 255, 255);
    background-image: url('res://imageset_new_window/material/border_center');
}


/* ************************************************************ *
 * ======================== !COMBOBOX! ======================== *
 * ************************************************************ */

combobox {
    max-height: 30px;
    min-height: 30px;
    border-style: none;
    background-image: none;

    mouse-over-sound: none;
    mouse-click-sound: none;
}

combobox > button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    icon: url('res://imageset_dropdown_neo/material/dropdown_button_enabled');
    margin-left: -5px;
}

combobox > button:over {
    icon: url('res://imageset_dropdown_neo/material/dropdown_button_over');
}

combobox > button:pressed {
    icon: url('res://imageset_dropdown_neo/material/dropdown_button_press');
}

combobox > panel {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_enabled');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_enabled');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_enabled');
    padding-left: -8px;
    padding-top: -2px;
    padding-bottom: -2px;
}

combobox > panel:over {
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_over');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_over');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_over');
}

combobox > text {
    border-style: none;
    text-align: left;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: none;
}

combobox > text:selected {
    background-image: url('res://imageset_textfield_neo/material/textfield_center_enabled');
}


/* ************************************************************ *
 * ======================== !SCROLLBAR! ======================= *
 * ************************************************************ */

scrollbar {
    scroll-sound: 'sfx_scroll_loop';
}

scrollbar > [name=vertical-track] {
    border-style: none;
    background-image: url('res://imageset_scrollbar_neo/material/scroll_background');
    background-repeat: repeat-y;
    background-position: center;
}

scrollbar > [name=horizontal-track] {
    border-style: none;
    background-image: url('res://imageset_scrollbar_neo/material/scroll_background');
    background-repeat: repeat-x;
    background-position: center;
}

scrollbar > button {
    text-align: center;
    vertical-align: center;
    border-style: none;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    mouse-over-sound: 'sfx_scroll_over';
    mouse-press-sound: 'sfx_scroll_click';
    mouse-release-sound: none;
    mouse-click-sound: none;
}

/* Vertical Scrollbar */
scrollbar > button[name=end] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_bottom_enabled');
}

scrollbar > button:over[name=end] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_bottom_over');
}

scrollbar > button:pressed[name=end] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_bottom_press');
}

scrollbar > button[name=start] {
    border-style: none;
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_top_enabled');
}

scrollbar > button:over[name=start] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_top_over');
}

scrollbar > button:pressed[name=start] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_ver_button_top_press');
}

scrollbar > [name=vertical-thumb] {
    border-style: compound;
    background-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_center_enabled');
    border-bottom-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_bottom_enabled');
    border-top-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_top_enabled');
    margin: 0px 2px 0px 2px;
}

scrollbar > :over[name=vertical-thumb] {
    background-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_center_over');
    border-bottom-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_bottom_over');
    border-top-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_top_over');
}

scrollbar > :pressed[name=vertical-thumb] {
    background-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_center_press');
    border-bottom-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_bottom_press');
    border-top-image: url('res://imageset_scrollbar_neo/material/scroll_ver_handle_top_press');
}

/* Horizontal Scrollbar */
scrollbar > button[name=right] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_right_enabled');
}

scrollbar > button:over[name=right] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_right_over');
}

scrollbar > button:pressed[name=right] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_right_press');
}

scrollbar > button[name=left] {
    border-style: none;
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_left_enabled');
}

scrollbar > button:over[name=left] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_left_over');
}

scrollbar > button:pressed[name=left] {
    icon: url('res://imageset_scrollbar_neo/material/scroll_hor_button_left_press');
}

scrollbar > [name=horizontal-thumb] {
    border-style: compound;
    background-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_center_enabled');
    border-right-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_right_enabled');
    border-left-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_left_enabled');
    margin: 2px 0px 2px 0px;
}

scrollbar > :over[name=horizontal-thumb] {
    background-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_center_over');
    border-right-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_right_over');
    border-left-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_left_over');
}

scrollbar > :pressed[name=horizontal-thumb] {
    background-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_center_press');
    border-right-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_right_press');
    border-left-image: url('res://imageset_scrollbar_neo/material/scroll_hor_handle_left_press');
}


/* ********************************************************* *
 * ====================== !SCROLLPANE! ===================== *
 * ********************************************************* */

scrollable > viewport {
    border-style: none;
    background-image: none;
    padding: 0;
}

scrollable.verticalbox > viewport {
    padding-left: 4px;
    padding-right: 4px;
}

scrollable.horizontalbox > viewport {
    padding-left: 4px;
    padding-right: 4px;
}


/* ********************************************************* *
 * ======================== !SLIDER! ======================= *
 * ********************************************************* */

slider {
}

slider > thumb {
    icon: url('res://imageset_slider_neo/material/thumb_hor_enabled');
}

slider > thumb:over {
    icon: url('res://imageset_slider_neo/material/thumb_hor_over');
}

slider > thumb:press {
    icon: url('res://imageset_slider_neo/material/thumb_hor_press');
}


/* ********************************************************* *
 * ======================= !PROGRESS! ====================== *
 * ********************************************************* */

progress,
progress.xp,
progress[name=xp],
progress.shield,
progress[name=shield] {
    background-image: url('res://imageset_new_progressbar/material/progressbar_frame_small_center');
    border-left-image: url('res://imageset_new_progressbar/material/progressbar_frame_small_left');
    border-right-image: url('res://imageset_new_progressbar/material/progressbar_frame_small_right');

    background-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_center');
    border-left-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_left');
    border-right-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_right');

    background-color: rgb(4, 108, 147);

    mouse-over-sound: none;
    mouse-press-sound: none;

    font-size: 10px;
    min-width: 50px;
    max-height: 12px;
}


progress.hull,
progress[name=hull] {
    background-fill: url('res://imageset_new_progressbar/material/progressbar_red_small_center');
    border-left-fill: url('res://imageset_new_progressbar/material/progressbar_red_small_left');
    border-right-fill: url('res://imageset_new_progressbar/material/progressbar_red_small_right');

    background-color: rgb(174, 91, 8);
}

progress.cargo,
progress[name=cargo] {
}

progress[segmented=true],
progress.xp[segmented=true],
progress[name=xp][segmented=true] {
    background-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_green_center');
    border-left-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_green_left');
    border-right-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_green_right');

    background-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_green_center');
    border-left-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_green_left');
    border-right-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_green_right');
}


progress.hull[segmented=true],
progress[name=hull][segmented=true] {
    background-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_red_center');
    border-left-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_red_left');
    border-right-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_red_right');

    background-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_red_center');
    border-left-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_red_left');
    border-right-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_red_right');
}


progress.shield[segmented=true],
progress[name=shield][segmented=true] {
    background-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_blue_center');
    border-left-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_blue_left');
    border-right-image: url('res://imageset_progress_bar_neo/material/progress_frame_bar_blue_right');

    background-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_blue_center');
    border-left-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_blue_left');
    border-right-fill: url('res://imageset_progress_bar_neo/material/progress_fill_bar_blue_right');
}


progress.cargo[segmented=true],
progress[name=cargo][segmented=true] {
}


progress.minihull {
    background-fill: url('res://imageset_hud/material/hud_target_integrity_hull_center');
    border-left-fill: url('res://imageset_hud/material/hud_target_integrity_hull_left');
    border-right-fill: url('res://imageset_hud/material/hud_target_integrity_hull_right');

    background-image: url('res://imageset_hud/material/hud_target_integrity_frame_center');
    border-left-image: url('res://imageset_hud/material/hud_target_integrity_frame_borders');
    border-right-image: url('res://imageset_hud/material/hud_target_integrity_frame_borders');
}

progress.minishield {
    background-fill: url('res://imageset_hud/material/hud_target_integrity_shield_center');
    border-left-fill: url('res://imageset_hud/material/hud_target_integrity_shield_left');
    border-right-fill: url('res://imageset_hud/material/hud_target_integrity_shield_right');

    background-image: url('res://imageset_hud/material/hud_target_integrity_frame_center');
    border-left-image: url('res://imageset_hud/material/hud_target_integrity_frame_borders');
    border-right-image: url('res://imageset_hud/material/hud_target_integrity_frame_borders');
}


/* ********************************************************* *
 * ======================== !SPINNER! ====================== *
 * ********************************************************* */

spinner > button {
    border-style: none;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    mouse-over-sound: 'sfx_radio_over';
    mouse-press-sound: 'sfx_radio_click';
    mouse-click-sound: none;

}

spinner > button[name=previous] {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_enabled');
    margin-bottom: 6px;
}

spinner > button[name=previous]:over {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_over');
}

spinner > button[name=previous]:pressed {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_press');
}

spinner > button[name=next] {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_enabled');
    margin-top: 3px;
}

spinner > button[name=next]:over {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_over');
}

spinner > button[name=next]:pressed {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_press');
}


/* ********************************************************* *
 * ====================== !SPLIT PANE! ===================== *
 * ********************************************************* */

splitpane {
    background: url('res://imageset_split_neo/material/split_sides');
}


/* ********************************************************* *
 * ======================== !WINDOW! ======================= *
 * ********************************************************* */

window {
    margin: 3px;
    cursor: url('res://data/gui/imageset/imageset_core/mouse_enabled');
    /* glow-image: url('res://data/gui/imageset/imageset_window_neo/outer_glow'); */
    open-sound: 'sfx_window_open';
    close-sound: 'sfx_window_close';
}

window > window-title {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_window_neo/material/window_header_left');
    border-right-image: url('res://imageset_window_neo/material/window_header_right');
    background-image: url('res://imageset_window_neo/material/window_header_center');
    margin-bottom: 1px;
    blur-behind: true;
}


window-title > [name=button-panel] {
    background-image: none;
    width: 77px;
    padding: 5px 0px 1px 0px;
    margin-bottom: 1px;
}


window-title > [name=button-panel] > button {
    border-style: none;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    padding: 3px 7px 0px 5px;
    margin: 0px;
}

window-title > [name=button-panel] > button[name=close] {
    icon: url('res://imageset_window_neo/material/window_header_button_close_enabled');

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}

window-title > [name=button-panel] > button:over[name=close] {
    icon: url('res://imageset_window_neo/material/window_header_button_close_over');
}

window-title > [name=button-panel] > button:pressed[name=close] {
    icon: url('res://imageset_window_neo/material/window_header_button_close_press');
}

window-title > [name=button-panel] > button[name=iconify] {
    icon: url('res://imageset_window_neo/material/window_header_button_maximize_enabled');

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}

window-title > [name=button-panel] > button:over[name=iconify] {
    icon: url('res://imageset_window_neo/material/window_header_button_maximize_over');
}

window-title > [name=button-panel] > button:pressed[name=iconify] {
    icon: url('res://imageset_window_neo/material/window_header_button_maximize_press');
}


window > window-title > label {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_window_neo/material/window_header_title_background'),
    url('res://imageset_window_neo/material/window_header_button_area');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;

    font-family: xirod-small;
    font-size: 10px;
    padding-left: 7px;
    padding-right: 32px;
    margin-bottom: 1px;
}

window > rootpane,
.windowborder {
    border-bottom-image: url('res://imageset_window_neo/material/window_frame_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_frame_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_frame_lower_right_resize');
    border-top-image: url('res://imageset_window_neo/material/window_frame_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_frame_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_frame_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_frame_left');
    border-right-image: url('res://imageset_window_neo/material/window_frame_right');
    background-image: none;

    blur-behind: true;
    background-alpha: 0.5;
    padding: -6px;
}

window[transparent=true],
window[has-title=false] {
    open-sound: none;
    close-sound: none;
}

window[resizable=false] > rootpane,
window[modal=true] > rootpane,
window[transparent=true] > rootpane {
    border-bottom-right-image: url('res://imageset_window_neo/material/window_frame_lower_right');
}

window > rootpane > contentpane,
.window {
    border-bottom-image: url('res://imageset_window_neo/material/window_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_content_right');
    background-image: url('res://imageset_window_neo/material/window_content_center');

    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    padding: 2px;
}


window[transparent=true] > rootpane > contentpane {
    padding: 2px;
}


window.empty {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    min-width: 0px;
    min-height: 0px;

    margin: 0px;
    padding: 0px;

    open-sound: none;
    close-sound: none;
}

window.empty > window-title {
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    blur-behind: false;
}

window.empty > window-title > label {
    background-image: none;
}

window.empty > rootpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    blur-behind: false;
}

window.empty > rootpane > contentpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}


window.blur {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
}

window.blur > window-title {
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

window.blur > window-title > label {
    background-image: none;
}

window.blur > rootpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

window.blur > rootpane > contentpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
}


/* ********************************************************* *
 * ====================== !TASKPANE! ======================= *
 * ********************************************************* */

taskpane {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    blur-behind: false;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    collapse-sound: 'sfx_panel_colapse';
    expand-sound: 'sfx_panel_expand';
    drag-start-sound: 'sfx_panel_drag_start';
    drop-sucess-sound: 'sfx_panel_drop_success';
}

taskpane > panel > panel[name=northPane],
.paneltitle {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_panel_neo/material/panel_header_bright_left');
    border-right-image: url('res://imageset_panel_neo/material/panel_header_bright_right');
    background-image: url('res://imageset_panel_neo/material/panel_header_bright_center');
    height: 14px;
}

taskpane > panel > panel[name=northPane] > label,
.paneltitle > label {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_panel_neo/material/header_stripes');
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 0px;
    padding-right: 32px;
    margin-bottom: 1px;
    font-family: xirod;
}

taskpane > panel > panel[name=contentPane] {
    border-bottom-image: url('res://imageset_window_neo/material/window_dim_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_dim_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_dim_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_dim_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_dim_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_dim_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_dim_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_dim_content_right');
    background-image: url('res://imageset_window_neo/material/window_dim_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    background-alpha: 0;
    blur-behind: false;

    margin-top: 2px;
}

taskpane > panel > button[name=resizeButton] {
    height: 5px;
    min-height: 5px;
    max-height: 5px;
    cursor: n-resize-cursor;

    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    border-left-image: none;
    border-right-image: none;

    background-repeat: no-repeat;
    background-position: center;

    mouse-over-sound: none;
    mouse-click-sound: none;


}

taskpane > panel > button[name=resizeButton]:over {
    background-image: url('res://imageset_split_neo/material/split_center_over');
}

taskpane > panel > button[name=resizeButton]:pressed {
    background-image: url('res://imageset_split_neo/material/split_center_press');
}


taskpane > panel > panel > button {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    border-left-image: none;
    border-right-image: none;
    margin-right: 2px;

    mouse-over-sound: none;
    mouse-click-sound: none;
}

taskpane > panel > panel > button.expanded {
    icon: url('res://imageset_panel_neo/material/button_collapse_opened_enabled');
}

taskpane > panel > panel > button.expanded:over {
    icon: url('res://imageset_panel_neo/material/button_collapse_opened_over');
}

taskpane > panel > panel > button.expanded:pressed {
    icon: url('res://imageset_panel_neo/material/button_collapse_opened_press');
}

taskpane > panel > panel > button.collapsed {
    icon: url('res://imageset_panel_neo/material/button_collapse_closed_enabled');
}

taskpane > panel > panel > button.collapsed:over {
    icon: url('res://imageset_panel_neo/material/button_collapse_closed_over');
}

taskpane > panel > panel > button.collapsed:pressed {
    icon: url('res://imageset_panel_neo/material/button_collapse_closed_press');
}

taskpane > panel > panel > toggle-button[name=pin],
toggle-button.pin {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    border-left-image: none;
    border-right-image: none;
    icon: url('res://imageset_panel_neo/material/button_pin_enabled');
    margin-left: 2px;

    mouse-over-sound: none;
    mouse-click-sound: 'sfx_panel_pin';

}

taskpane > panel > panel > toggle-button[name=pin]:over,
toggle-button.pin:over {
    icon: url('res://imageset_panel_neo/material/button_pin_over');
}

taskpane > panel > panel > toggle-button[name=pin]:pressed,
toggle-button.pin:pressed {
    icon: url('res://imageset_panel_neo/material/button_pin_press');
}

taskpane > panel > panel > toggle-button[name=pin]:selected,
toggle-button.pin:selected {
    icon: url('res://imageset_panel_neo/material/button_pin_selected');
    mouse-click-sound: 'sfx_panel_unpin';
}


/* ********************************************************* *
 * ================= !TASKPANE CONTAINER! ================== *
 * ********************************************************* */

taskpanecontainer {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    border-left-image: none;
    border-right-image: none;
    blur-behind: false;
}

picture[name=divisor] {
    background-image: url('res://imageset_split_neo/material/split_center_over');
    padding: 1px;
    margin: 5px 0px 5px 0px;
}


/* ********************************************************* *
 * ===================== !ITEM PANEL! ====================== *
 * ********************************************************* */

item-panel {
    drag-start-sound: 'sfx_drag_start';
    drop-sucess-sound: 'sfx_drop_success';
    drop-fail-sound: 'sfx_drop_fail';
}


/* ********************************************************** *
 * ======================== !TABPANE! ======================= *
 * ********************************************************** */

tabpane {
    action-sound: 'sfx_mouse_click';
}

tabpane > panel {
    border-style: compound;
    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    margin-top: -1px;
}

tabpane > label,
.tabpane-button {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_bottom_enabled');
    border-bottom-left-image: url('res://imageset_tabpane_neo/material/tab_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_tabpane_neo/material/tab_lower_right_enabled');
    border-top-image: url('res://imageset_tabpane_neo/material/tab_top_enabled');
    border-top-left-image: url('res://imageset_tabpane_neo/material/tab_upper_left_enabled');
    border-top-right-image: url('res://imageset_tabpane_neo/material/tab_upper_right_enabled');
    background-image: url('res://imageset_tabpane_neo/material/tab_center_enabled');
    border-left-image: url('res://imageset_tabpane_neo/material/tab_left_enabled');
    border-right-image: url('res://imageset_tabpane_neo/material/tab_right_enabled');
    padding-right: 2px;
    color: rgb(200, 200, 200);
    height: 20px;
    max-height: 20px;
}

.tabpane-button {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_bottom_fake_enabled');
    border-bottom-left-image: url('res://imageset_tabpane_neo/material/tab_lower_left_fake_enabled');
    border-bottom-right-image: url('res://imageset_tabpane_neo/material/tab_lower_right_fake_enabled');
    padding-top: 5px;

    mouse-over-sound: none;
    mouse-click-sound: none;
    mouse-press-sound: 'sfx_mouse_click';
    mouse-release-sound: none;
}

tabpane > label:selected,
.tabpane-button:selected {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_bottom_selected');
    border-bottom-left-image: url('res://imageset_tabpane_neo/material/tab_lower_left_selected');
    border-bottom-right-image: url('res://imageset_tabpane_neo/material/tab_lower_right_selected');
    border-top-image: url('res://imageset_tabpane_neo/material/tab_top_selected');
    border-top-left-image: url('res://imageset_tabpane_neo/material/tab_upper_left_selected');
    border-top-right-image: url('res://imageset_tabpane_neo/material/tab_upper_right_selected');
    background-image: url('res://imageset_tabpane_neo/material/tab_center_selected');
    border-left-image: url('res://imageset_tabpane_neo/material/tab_left_selected');
    border-right-image: url('res://imageset_tabpane_neo/material/tab_right_selected');
    color: white;

    mouse-press-sound: none;
}


/* ********************************************************** *
 * ========================= !TABLE! ======================== *
 * ********************************************************** */

table-header {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;

    min-height: 22px;
}

table-header > cell > * {
    text-align: center;
}

table > * > * {
    margin: 0px 6px 0px 6px;
    text-align: center;
}

table > row,
tree > *,
list > *,
.cell {
    border-style: compound;
    border-bottom-image: url('res://imageset_row_neo/material/row_bottom_enabled');
    border-bottom-left-image: url('res://imageset_row_neo/material/row_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_row_neo/material/row_lower_right_enabled');
    border-left-image: url('res://imageset_row_neo/material/row_left_enabled');
    border-right-image: url('res://imageset_row_neo/material/row_right_enabled');
    border-top-image: url('res://imageset_row_neo/material/row_top_enabled');
    border-top-left-image: url('res://imageset_row_neo/material/row_upper_left_enabled');
    border-top-right-image: url('res://imageset_row_neo/material/row_upper_right_enabled');
    background-image: none;
}

table > row:over,
tree > *:over,
list > *:over,
.cell:over {
    border-bottom-image: url('res://imageset_row_neo/material/row_bottom_over');
    border-bottom-left-image: url('res://imageset_row_neo/material/row_lower_left_over');
    border-bottom-right-image: url('res://imageset_row_neo/material/row_lower_right_over');
    border-top-image: url('res://imageset_row_neo/material/row_top_over');
    border-top-left-image: url('res://imageset_row_neo/material/row_upper_left_over');
    border-top-right-image: url('res://imageset_row_neo/material/row_upper_right_over');
    border-left-image: url('res://imageset_row_neo/material/row_left_over');
    border-right-image: url('res://imageset_row_neo/material/row_right_over');
    background-image: url('res://imageset_row_neo/material/row_center_over');
}

table > row:selected,
tree > *:selected,
list > *:selected,
.cell:selected {
    border-bottom-image: url('res://imageset_row_neo/material/row_bottom_selected');
    border-bottom-left-image: url('res://imageset_row_neo/material/row_lower_left_selected');
    border-bottom-right-image: url('res://imageset_row_neo/material/row_lower_right_selected');
    border-top-image: url('res://imageset_row_neo/material/row_top_selected');
    border-top-left-image: url('res://imageset_row_neo/material/row_upper_left_selected');
    border-top-right-image: url('res://imageset_row_neo/material/row_upper_right_selected');
    border-left-image: url('res://imageset_row_neo/material/row_left_selected');
    border-right-image: url('res://imageset_row_neo/material/row_right_selected');
    background-image: url('res://imageset_row_neo/material/row_center_selected');
}

table-header > cell {
    border-style: compound;
    border-bottom-image: url('res://imageset_table_neo/material/table_header_bottom_enabled');
    border-bottom-left-image: url('res://imageset_table_neo/material/table_header_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_table_neo/material/table_header_lower_right_enabled');
    border-left-image: url('res://imageset_table_neo/material/table_header_left_enabled');
    border-right-image: url('res://imageset_table_neo/material/table_header_right_enabled');
    border-top-image: url('res://imageset_table_neo/material/table_header_top_enabled');
    border-top-left-image: url('res://imageset_table_neo/material/table_header_upper_left_enabled');
    border-top-right-image: url('res://imageset_table_neo/material/table_header_upper_right_enabled');
    background-image: url('res://imageset_table_neo/material/table_header_center_enabled');
    min-height: 24px;
    margin: 0px;
}

table-header > cell:pressed {
    border-bottom-image: url('res://imageset_table_neo/material/table_header_bottom_press');
    border-bottom-left-image: url('res://imageset_table_neo/material/table_header_lower_left_press');
    border-bottom-right-image: url('res://imageset_table_neo/material/table_header_lower_right_press');
    border-left-image: url('res://imageset_table_neo/material/table_header_left_press');
    border-right-image: url('res://imageset_table_neo/material/table_header_right_press');
    border-top-image: url('res://imageset_table_neo/material/table_header_top_press');;
    border-top-left-image: url('res://imageset_table_neo/material/table_header_upper_left_press');
    border-top-right-image: url('res://imageset_table_neo/material/table_header_upper_right_press');
    background-image: url('res://imageset_table_neo/material/table_header_center_press');
}

table-header > cell:over {
    border-bottom-image: url('res://imageset_table_neo/material/table_header_bottom_over');
    border-bottom-left-image: url('res://imageset_table_neo/material/table_header_lower_left_over');
    border-bottom-right-image: url('res://imageset_table_neo/material/table_header_lower_right_over');
    border-left-image: url('res://imageset_table_neo/material/table_header_left_over');
    border-right-image: url('res://imageset_table_neo/material/table_header_right_over');
    border-top-image: url('res://imageset_table_neo/material/table_header_top_over');;
    border-top-left-image: url('res://imageset_table_neo/material/table_header_upper_left_over');
    border-top-right-image: url('res://imageset_table_neo/material/table_header_upper_right_over');
    background-image: url('res://imageset_table_neo/material/table_header_center_over');
}


/* ********************************************************** *
 * ========================= !LIST! ========================= *
 * ********************************************************** */

list {
    drag-start-sound: 'sfx_drag_start';
    drop-sucess-sound: 'sfx_drop_success';
    drop-fail-sound: 'sfx_drop_fail';
}

list > * {
    margin: 2px;
    max-width: 60px;
}


/* ********************************************************** *
 * ========================= !TREE! ========================= *
 * ********************************************************** */

tree > button-expand {
    icon: url('res://imageset_tree_neo/material/button_expand_enabled');

    mouse-over-sound: 'sfx_mouse_over';
    mouse-click-sound: 'sfx_mouse_click';
}

tree > button-expand:over {
    icon: url('res://imageset_tree_neo/material/button_expand_over');
}

tree > button-expand:press {
    icon: url('res://imageset_tree_neo/material/button_expand_press');
}

tree > button-collapse {
    icon: url('res://imageset_tree_neo/material/button_collapse_enabled');

    mouse-over-sound: 'sfx_mouse_over';
    mouse-click-sound: 'sfx_mouse_click';
}

tree > button-collapse:over {
    icon: url('res://imageset_tree_neo/material/button_collapse_over');
}

tree > button-collapse:press {
    icon: url('res://imageset_tree_neo/material/button_collapse_press');
}


/* ********************************************************** *
 * ===================== !DESKTOP PANE! ===================== *
 * ********************************************************** */

desktoppane[name=modal] {
    border-bottom-image: url('res://imageset_window_neo/material/window_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_content_right');
    background-image: url('res://imageset_window_neo/material/window_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    blur-behind: false;
}


/* ************************************************************ *
 * ========================= !CURSORS! ======================== *
 * ************************************************************ */

.dragging {
    cursor: move-cursor;
}

.link {
    cursor: hand-cursor;
}


/* ********************************************************** *
 * ===================== !LABELED-ICON! ===================== *
 * ********************************************************** */

labeled-icon > panel[name=labeled-icon] > panel[name=background],
panel.icon-frame {
    padding: 0px;
    margin: 0px;

    border-bottom-left-image: url('res://imageset_icon_neo/icon_frame_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_icon_neo/icon_frame_lower_right_enabled');
    border-bottom-image: url('res://imageset_icon_neo/icon_frame_bottom_enabled');

    border-top-left-image: url('res://imageset_icon_neo/icon_frame_upper_left_enabled');
    border-top-right-image: url('res://imageset_icon_neo/icon_frame_upper_right_enabled');
    border-top-image: url('res://imageset_icon_neo/icon_frame_top_enabled');
}

panel[name=upper-panel] > picture,
panel[name=lower-panel] > picture,
panel.icon-frame > picture {
    min-height: 0px;
    min-width: 0px;
    font-size: 9px;
}

panel[name=upper-panel] > picture[name=upper-label-w],
panel.icon-frame > picture.upper-label-w {
    text-align: left;
    background-image: url('res://imageset_icon_neo/icon_header_center_enabled');
    border-left-image: url('res://imageset_icon_neo/icon_header_left_enabled');
    border-right-image: url('res://imageset_icon_neo/icon_header_right_enabled');
}

panel[name=upper-panel] > picture[name=upper-label-e],
panel.icon-frame > picture.upper-label-e {
    text-align: right;
}

panel[name=lower-panel] > picture[name=lower-label-w],
panel.icon-frame > picture.lower-label-w {
    text-align: left;
}

panel[name=lower-panel] > picture[name=lower-label-e],
panel.icon-frame > picture.lower-label-e {
    text-align: right;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    background-image: url('res://imageset_icon_neo/icon_footer_center_enabled');
    border-left-image: url('res://imageset_icon_neo/icon_footer_left_enabled');
    border-right-image: url('res://imageset_icon_neo/icon_footer_right_enabled');
}


/* ********************************************************** *
 * ====================== !EXCEPTIONS! ====================== *
 * ********************************************************** */


.lockvertical {
    border-bottom-image: none;
    border-bottom-left-image: url('res://imageset_box_neo/material/box_ver_lock_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_ver_lock_lower_right');
    border-top-image: none;
    border-top-left-image: url('res://imageset_box_neo/material/box_ver_lock_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_ver_lock_upper_right');
    border-left-image: url('res://imageset_box_neo/material/box_ver_lock_left');
    border-right-image: url('res://imageset_box_neo/material/box_ver_lock_right');
    background-image: none;
    margin-left: 4px;
    padding: 4px;
}

.lockhorizontal {
    border-bottom-image: url('res://imageset_box_neo/material/box_hor_lock_bottom');
    border-bottom-left-image: url('res://imageset_box_neo/material/box_hor_lock_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_hor_lock_lower_right');
    border-top-image: url('res://imageset_box_neo/material/box_hor_lock_top');
    border-top-left-image: url('res://imageset_box_neo/material/box_hor_lock_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_hor_lock_upper_right');
    border-left-image: url('res://imageset_box_neo/material/box_hor_lock_left');
    border-right-image: url('res://imageset_box_neo/material/box_hor_lock_right');
    background-image: url('res://imageset_box_neo/material/box_hor_lock_center');
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.tip {
    font-size: 9px;
    color: rgb(150, 150, 150, 150);
}

.empty {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    padding: 0px;
}

.verticalbox {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: url('res://imageset_box_neo/material/box_ver_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_ver_lower_right');
    border-left-image: url('res://imageset_box_neo/material/box_ver_left');
    border-right-image: url('res://imageset_box_neo/material/box_ver_right');
    border-top-image: none;
    border-top-left-image: url('res://imageset_box_neo/material/box_ver_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_ver_upper_right');
    background-image: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.horizontalbox {
    border-style: compound;
    border-bottom-image: url('res://imageset_box_neo/material/box_hor_bottom');
    border-bottom-left-image: url('res://imageset_box_neo/material/box_hor_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_hor_lower_right');
    border-left-image: none;
    border-right-image: none;
    border-top-image: url('res://imageset_box_neo/material/box_hor_top');
    border-top-left-image: url('res://imageset_box_neo/material/box_hor_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_hor_upper_right');
    background-image: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.hBackground {
    border-style: compound;
    border-bottom-image: url('res://imageset_box_neo/material/box_hor_readable_bottom');
    border-bottom-left-image: url('res://imageset_box_neo/material/box_hor_readable_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_hor_readable_lower_right');
    border-left-image: none;
    border-right-image: none;
    border-top-image: url('res://imageset_box_neo/material/box_hor_readable_top');
    border-top-left-image: url('res://imageset_box_neo/material/box_hor_readable_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_hor_readable_upper_right');
    background-image: url('res://imageset_box_neo/material/box_hor_readable_center');
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.vBackground {
    border-style: compound;
    border-bottom-image: url('res://imageset_box_neo/material/box_ver_readable_bottom');
    border-bottom-left-image: url('res://imageset_box_neo/material/box_ver_readable_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_ver_readable_lower_right');
    border-left-image: url('res://imageset_box_neo/material/box_ver_readable_left');
    border-right-image: url('res://imageset_box_neo/material/box_ver_readable_right');
    border-top-image: url('res://imageset_box_neo/material/box_ver_readable_top');
    border-top-left-image: url('res://imageset_box_neo/material/box_ver_readable_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_ver_readable_upper_right');
    background-image: url('res://imageset_box_neo/material/box_hor_readable_center');
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.simple {
    border-style: compound;
    border-bottom-image: url('res://imageset_panel_neo/material/panel_simple_bottom');
    border-bottom-left-image: url('res://imageset_panel_neo/material/panel_simple_lower_left');
    border-bottom-right-image: url('res://imageset_panel_neo/material/panel_simple_lower_right');
    border-left-image: url('res://imageset_panel_neo/material/panel_simple_left');
    border-right-image: url('res://imageset_panel_neo/material/panel_simple_right');
    border-top-image: url('res://imageset_panel_neo/material/panel_simple_top');
    border-top-left-image: url('res://imageset_panel_neo/material/panel_simple_upper_left');
    border-top-right-image: url('res://imageset_panel_neo/material/panel_simple_upper_right');
    background-image: url('res://imageset_panel_neo/material/panel_simple_center');
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.editable {
    border-bottom-image: url('res://imageset_textarea_neo/material/textarea_bottom_enabled');
    border-bottom-left-image: url('res://imageset_textarea_neo/material/textarea_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_textarea_neo/material/textarea_lower_right_enabled');
    border-top-image: url('res://imageset_textarea_neo/material/textarea_top_enabled');
    border-top-left-image: url('res://imageset_textarea_neo/material/textarea_upper_left_enabled');
    border-top-right-image: url('res://imageset_textarea_neo/material/textarea_upper_right_enabled');
    border-left-image: url('res://imageset_textarea_neo/material/textarea_left_enabled');
    border-right-image: url('res://imageset_textarea_neo/material/textarea_right_enabled');
    background-image: url('res://imageset_textarea_neo/material/textarea_center_enabled');

    mouse-over-sound: none;
    mouse-click-sound: none;

}

.editable:focused {
    border-bottom-image: url('res://imageset_textarea_neo/material/textarea_bottom_selected');
    border-bottom-left-image: url('res://imageset_textarea_neo/material/textarea_lower_left_selected');
    border-bottom-right-image: url('res://imageset_textarea_neo/material/textarea_lower_right_selected');
    border-top-image: url('res://imageset_textarea_neo/material/textarea_top_selected');
    border-top-left-image: url('res://imageset_textarea_neo/material/textarea_upper_left_selected');
    border-top-right-image: url('res://imageset_textarea_neo/material/textarea_upper_right_selected');
    border-left-image: url('res://imageset_textarea_neo/material/textarea_left_selected');
    border-right-image: url('res://imageset_textarea_neo/material/textarea_right_selected');
    background-image: url('res://imageset_textarea_neo/material/textarea_center_selected');
}

.editable:over {
    border-bottom-image: url('res://imageset_textarea_neo/material/textarea_bottom_over');
    border-bottom-left-image: url('res://imageset_textarea_neo/material/textarea_lower_left_over');
    border-bottom-right-image: url('res://imageset_textarea_neo/material/textarea_lower_right_over');
    border-top-image: url('res://imageset_textarea_neo/material/textarea_top_over');
    border-top-left-image: url('res://imageset_textarea_neo/material/textarea_upper_left_over');
    border-top-right-image: url('res://imageset_textarea_neo/material/textarea_upper_right_over');
    border-left-image: url('res://imageset_textarea_neo/material/textarea_left_over');
    border-right-image: url('res://imageset_textarea_neo/material/textarea_right_over');
    background-image: url('res://imageset_textarea_neo/material/textarea_center_over');
}

.editable:over:focused {
    border-bottom-image: url('res://imageset_textarea_neo/material/textarea_bottom_over_selected');
    border-bottom-left-image: url('res://imageset_textarea_neo/material/textarea_lower_left_over_selected');
    border-bottom-right-image: url('res://imageset_textarea_neo/material/textarea_lower_right_over_selected');
    border-top-image: url('res://imageset_textarea_neo/material/textarea_top_over_selected');
    border-top-left-image: url('res://imageset_textarea_neo/material/textarea_upper_left_over_selected');
    border-top-right-image: url('res://imageset_textarea_neo/material/textarea_upper_right_over_selected');
    border-left-image: url('res://imageset_textarea_neo/material/textarea_left_over_selected');
    border-right-image: url('res://imageset_textarea_neo/material/textarea_right_over_selected');
    background-image: url('res://imageset_textarea_neo/material/textarea_center_over_selected');
}

.readonly {
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_readonly');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_readonly');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_readonly');
}

.separator {
    border-bottom-image: url('res://imageset_box_neo/material/box_hor_bottom');
    margin-top: 1px;
    margin-bottom: 1px;
}

.number,
.value {
    text-align: right;
}

.background {
    border-bottom-image: url('res://imageset_window_neo/material/window_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_content_right');
    background-image: url('res://imageset_window_neo/material/window_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    padding: 0px;
}

.dark {
    border-bottom-image: url('res://imageset_box_neo/material/box_dark_bottom');
    border-bottom-left-image: url('res://imageset_box_neo/material/box_dark_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_dark_lower_right');
    border-top-image: url('res://imageset_box_neo/material/box_dark_top');
    border-top-left-image: url('res://imageset_box_neo/material/box_dark_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_dark_upper_right');
    border-left-image: url('res://imageset_box_neo/material/box_dark_left');
    border-right-image: url('res://imageset_box_neo/material/box_dark_right');
    background-image: url('res://imageset_box_neo/material/box_dark_center');
}

.iconbutton {
    border-style: compound;

    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_enabled');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_enabled');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_enabled');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_enabled');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_enabled');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_enabled');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_enabled');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_enabled');
}

.iconbutton:over {
    border-style: compound;

    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_over');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_over');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_over');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_over');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_over');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_over');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_over');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_over');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_over');
}

.iconbutton:selected {
    border-style: compound;

    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_over');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_over');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_over');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_over');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_over');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_over');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_over');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_over');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_over');

    mouse-over-sound: none;
}

.iconbutton:over:selected {
    border-style: compound;

    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_over');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_over');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_over');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_over');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_over');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_over');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_over');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_over');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_over');
}

.iconbutton:pressed {
    border-style: compound;

    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_press');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_press');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_press');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_press');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_press');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_press');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_press');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_press');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_press');
}


.bigbutton {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_enabled');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_enabled');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_enabled');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_enabled');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_enabled');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_enabled');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_enabled');
    background-image: url('res://imageset_header_neo/material/button_menu_center_enabled');

    mouse-over-sound: 'sfx_mouse_over';
    mouse-click-sound: 'sfx_mouse_click';

}

.bigbutton:over {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}

.bigbutton:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_selected');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_selected');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_selected');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_selected');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_selected');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_selected');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_selected');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_selected');
    background-image: url('res://imageset_header_neo/material/button_menu_center_selected');
}

.bigbutton:over:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}

.bigbutton:pressed {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_press');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_press');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_press');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_press');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_press');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_press');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_press');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_press');
    background-image: url('res://imageset_header_neo/material/button_menu_center_press');
}

.bigbutton2 {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_special_bottom_enabled');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_special_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_special_lower_right_enabled');

    border-top-image: url('res://imageset_header_neo/material/button_menu_special_top_enabled');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_special_upper_left_enabled');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_special_upper_right_enabled');

    border-left-image: url('res://imageset_header_neo/material/button_menu_special_left_enabled');
    border-right-image: url('res://imageset_header_neo/material/button_menu_special_right_enabled');
    background-image: url('res://imageset_header_neo/material/button_menu_special_center_enabled');
}

.bigbutton2:over {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}

.bigbutton2:pressed {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_press');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_press');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_press');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_press');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_press');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_press');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_press');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_press');
    background-image: url('res://imageset_header_neo/material/button_menu_center_press');

}

.bigbutton2:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_special_bottom_selected');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_special_lower_left_selected');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_special_lower_right_selected');

    border-top-image: url('res://imageset_header_neo/material/button_menu_special_top_selected');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_special_upper_left_selected');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_special_upper_right_selected');

    border-left-image: url('res://imageset_header_neo/material/button_menu_special_left_selected');
    border-right-image: url('res://imageset_header_neo/material/button_menu_special_right_selected');
    background-image: url('res://imageset_header_neo/material/button_menu_special_center_selected');
}

.bigbutton2:over:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}

.hr {
    border-top-image: none;
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_line');
}

overlay,
.overlay {
    /*
    border-bottom-image: url('res://imageset_window_neo/material/window_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_content_right');
    background-image: url('res://imageset_window_neo/material/window_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    */
    background-image: url('res://imageset_core/material/black_pixel');

    color-alpha: 0.2;
    background-color-alpha: 0.2;
    color-multiplier: rgb(50, 50, 50, 50);
    blur-behind: true;
}


/* *********************************************************** *
 * ====================== !PROGRESSION! ====================== *
 * *********************************************************** */

.fighter {
    icon: url('res://imageset_iconbutton_neo/material/icon_fighter_normal');
}

.fighter:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_fighter_bright');
}

.fighter:selected {
    icon: url('res://imageset_iconbutton_neo/material/icon_fighter_bright');
}

.bomber {
    icon: url('res://imageset_iconbutton_neo/material/icon_bomber_normal');
}

.bomber:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_bomber_bright');
}

.bomber:selected {
    icon: url('res://imageset_iconbutton_neo/material/icon_bomber_bright');
}

.freighter {
    icon: url('res://imageset_iconbutton_neo/material/icon_freighter_normal');
}

.freighter:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_freighter_bright');
}

.freighter:selected {
    icon: url('res://imageset_iconbutton_neo/material/icon_freighter_bright');
}

.explorer {
    icon: url('res://imageset_iconbutton_neo/material/icon_explorer_normal');
}

.explorer:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_explorer_bright');
}

.explorer:selected {
    icon: url('res://imageset_iconbutton_neo/material/icon_explorer_bright');
}


/* *********************************************************** *
 * ======================= !SLOT SIZE! ======================= *
 * *********************************************************** */

picture.size1 {
    icon: url('res://imageset_icon_neo/material/icon_size_one');
}

picture.size2 {
    icon: url('res://imageset_icon_neo/material/icon_size_two');
}

picture.size3 {
    icon: url('res://imageset_icon_neo/material/icon_size_three');
}

picture.size4 {
    icon: url('res://imageset_icon_neo/material/icon_size_four');
}